.main-container{
    background-color: #565554;
    padding: 6px;
    margin: 16vh auto;
    width: 30%;
}

.screen{
    background-color: black;
    text-align: right;
    padding: 24px;
    padding-bottom: 12px;
    font-family: 'Orbitron', sans-serif;
    color:  #20C20E;
    font-size: 1.4em;
    font-weight: 800;
    overflow: hidden;
}

.board{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn{
    padding: 20px;
    background-color: rgb(56, 56, 56);
    border: 1px solid black;
    transition: all 0.1s;
}

.btn:hover{
    background-color: rgba(128, 128, 128, 0.281);
    border: 1px solid rgba(255, 255, 255, 0.288);
    color: black;
    cursor: pointer;
}

.ac{
    grid-column-start: 1;
    grid-column-end: 3;
}

.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: auto;
    grid-row-start: 4;
    grid-column-end: 5;
    grid-row-end: 6;
}
